<h1> 2015 - 2016 </h1>
<h3>Resolved: The United States Federal Government should substantially China. </h3> 
  
<div class="col-md-12">
  
<%= smart_listing_controls_for(:evidences, {class: "form-inline text-right"}) do %>
  <div class="filter input-append">
    <%= text_field_tag :filter, '', class: "search", placeholder: "Filter results here", autocomplete: "off" %>  
  </div>
  <% end %>
<br>

<div class="row">

<table class="table">
      <% unless smart_listing.empty? %>
    <% smart_listing.collection.each do |evidence| %>
<div class="col-md-4">    
    <div class="row">
      <div class="col-md-12"><%= link_to truncate(evidence.name), evidence %></div>
        <div class="col-md-12"><%= evidence.tag %></div>
        <div class="col-md-12"><%= truncate(evidence.description) %></div>
        <div class="col-md-12"><%= evidence.date %></div>
        </div>
    <br>
 </div>   
 
<% end %>

</table>
</div>

</div>
<%= smart_listing.paginate %>
<%= smart_listing.pagination_per_page_links %>
<% else %>
  <p class="warning">No records!</p>
<% end %>