<%= form_for(@evidence, :html => { multipart: true }) do |f| %>
  <% if @evidence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evidence.errors.count, "error") %> prohibited this evidence from being saved:</h2>

      <ul>
      <% @evidence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :tag %><br>
    <%= f.text_field :tag %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :document %><br>
    <%= f.file_field :document %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
