<p>
  <strong>Name:</strong>
  <%= @evidence.name %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @evidence.tag %>
</p>

<p>
  <strong>Description:</strong>
  <%= @evidence.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @evidence.date %>
</p>
<% if user_signed_in? %>
<p>
  <button><%= link_to "Download File", @evidence.document_url %></button>
  
</p>

<% else %>
<p>You need to Signin first before downloading</p>
<%= link_to 'Back', evidences_path %>
<% end %>