<%= form_for(@discussion) do |f| %>
  <% if @discussion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discussion.errors.count, "error") %> prohibited this sector from being saved:</h2>

      <ul>
      <% @discussion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  
  
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= f.label 'Update Status' %><br></h3>
  </div>
  <div class="panel-body">
    <%= f.text_field :title %>
    <div class="action">
    <br><%= f.submit %>
  </div>
<% end %>
  </div>
</div>
  
