<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">DebateStop</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <li><%= link_to "Discussions", discussions_path %></li>
      <li><%= link_to "Evidence", evidences_path %></li>
      <li><%= link_to "Get Started", new_user_session_path %></li>
      <% if user_signed_in? %>
      <li><%= link_to "Log Out", destroy_user_session_path, method: :delete  %></li>
                                    </ul>
                                  </li>
                                <% else %>
                                  <li><%= link_to "Sign up", new_user_registration_path  %></li>
                                  <li><%= link_to "Log in", new_user_session_path  %></li>
                                <% end %>
    </ul>
    <form class="navbar-form navbar-left">
      <div class="form-group">
    </form>
  </div>
</nav>

<div class="container">
  <h3></h3>
  <p>

<section class="about-us" id="aboutus">
<div class="container">

	<!-- SECTION HEADER -->
	<div class="section-header">

	<section class="about-us" id="aboutus">
<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header">
		
		<!-- SECTION TITLE -->
	
		
		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text">
				
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- 3 COLUMNS OF ABOUT US-->
	<div class="row">
		
		<!-- COLUMN 1 - BIG MESSAGE ABOUT THE COMPANY-->

		
		<!-- COLUMN 2 - BRIEF ABOUT THE COMPANY-->
		<div class="col-lg-4 col-md-4 column">
			<p>
				 
			</p>
		</div>
		
		

</div>            
</div>
</div>
